<div class="container">
	<div class="jumbotron">
		<div class="row">
			<img src="https://s3.amazonaws.com/criselda/brow1.jpg" alt="Styled Eyebrows">
			<img src="https://s3.amazonaws.com/criselda/brow2.jpg" alt="Styled Eyebrows">
			<img src="https://s3.amazonaws.com/criselda/brow3.jpg" alt="Styled Eyebrows">
			<img src="https://s3.amazonaws.com/criselda/brow4.jpg" alt="Styled Eyebrows">
			<img src="https://s3.amazonaws.com/criselda/brow5.jpg" alt="Styled Eyebrows">
    </div>
  </div>
</div>