/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

h1, h2, h3 {
	font-family: 'Poiret One', cursive;
	font-weight: 900;
}

nav {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.site {
	text-align: center;
	margin-top: 125px;
	letter-spacing: 0.5em;
}

.salon {
	text-align: center;
	margin-top: 25px;
	color: gray;
	letter-spacing: 0.6em;
}

.hair {
	padding-left: 10px !important;
	letter-spacing: 0.2em;
}

.navbar {
	background: transparent;
	margin-top: 20px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

a:link, a:visited, a:active { 
  color: black;
  text-decoration: none;
  background: none !important;
}

a:hover {
	color: gray;
}

.row {
	text-align: center;
}

img {
	padding: 10px 5px 5px 5px;
}

#insta {
	text-align: center;
}

